.container
  .row
    .col.s4
      .center
        %i.material-icons flash_on
        %p.promo-caption Desarrollo Agil
        %p Utilizamos el framework Ruby on Rails para realizar un desarrollo agil. Depuramos y perfeccionamos cada detalle para asegurar un correcto funcionamiento y ofrecer una experiencia de usuario perfecta.
    .col.s4
      .center
        %i.material-icons group
        %p.center-align Enfocados en la experiencia de usuario
        %p Gracias a que utilizamos los elementos y principios de Material Design, incorporamos componentes y animaciones para ofrecer una mejor experiencia para los usuarios. Ademas de ofrecer una experiencia unificada para los usuarios.
    .col.s4
      .center
        %i.material-icons settings
        %p.center-align Muy facil de administrar
        %p Te ofrecemos una web administrable para que puedas actualizar los recursos sin necesidad de depender de nadie.
