.slider
  %ul.slides
    %li
      = image_tag "black"
      .caption.center-align
        %h3 Muy Facil de Administrar
        %h5.light.grey-text.text-lighten-3 Te ofrecemos una web administrable para que puedas actualizar los recursos sin necesidad de depender de nadie.

    %li
      = image_tag "color"
      .caption.right-align
        %h3 Da vida a tu marca con un dise単o web impactante
        %h5.light.grey-text.text-lighten-3 La atraccion visual, la tecnologia de vanguardia y la experiencia del usuario son la base de nuestros dise単os de paginas web.

    %li
      = image_tag "code"
      .caption.right-align
        %h3 Dise単o
        %h5.light.grey-text.text-lighten-3 Creemos en el poder del dise単o y la tecnologia para transformar empresas.
    %li
      = image_tag "parallax1"
      .caption.center-align
        %h3 Soluciones creativas para tu negocio!
