%nav
  .nav-wrapper.grey
    %a.brand-logo.black-text{:href => "#"} Railstudio
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        %a.black-text{:href => "sass.html"} Inicio
      %li
        %a.black-text{:href => "badges.html"} Conocenos
      %li
        %a.black-text{:href => "collapsible.html"} Galeria
